<mat-card class="game-card">
    <mat-card-header class="card-header">
        <mat-card-title>MLB</mat-card-title>
    </mat-card-header>
    <mat-card-content class="status-container">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <div>
                    <span class="team">Team 1</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <span class="team">Team 2</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <span class="score">Score 1</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <span class="score">Score 2</span>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <span class="span">Inning</span>
        <span class="span">Outs</span>
    </mat-card-content>
</mat-card>