.card-deck-container {
    width: 100%;
    position: relative;
    border-radius: 2px;
    padding: 10px 10px 30px;
    margin: 10px 10px 10px 10px;
    background-color: #f5f5f5;
  }
  
  .card-item {
    padding: 3px 3px 3px 3px;
  }

  .game-card {
    width: 200px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 5px;
  }
  
  .card-header {
    align-content: center;
    justify-content: center;
  }
  
  .span {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .status-container {
    align-contents: center;
    justify-content: center;
  }
  
  .team {
    font-size: 16px;
    font-weight: bold;
  }
  
  .score {
    font-size: 16px;
  }